html,
*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

* {
  outline: 0; }

main {
  display: block; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none; }

button,
input {
  overflow: visible; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button {
  border: 0;
  outline: 0; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

[hidden] {
  display: none; }

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  border-style: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

label {
  margin-bottom: 0; }

li {
  list-style: none; }

ul {
  margin: 0;
  padding: 0; }

:root {
  --html-fs: 1px;
  --ff: 'Work Sans', sans-serif;
  --transition: .2s all ease-in-out;
  --c-primary: #8842F0;
  --c-text-white: #fff;
  --c-border: #eee;
  --c-terciary: #F9F1FE;
  --black: #000;
  --c-Paragraph: #262626;
  --Heading-2: 700 48rem/normal var(--ff);
  --Heading-3: 700 36rem/normal var(--ff);
  --Heading-4: 600 24rem/normal var(--ff);
  --Link: 400 16rem/normal var(--ff);
  --Paragraph: 400 16rem/normal var(--ff);
  --Input: 400 14rem/normal var(--ff);
  --Button: 600 20rem/normal var(--ff); }

html._theme:root {
  --c-primary: #59f042; }

html {
  font-size: var(--html-fs); }

body {
  font-size: 16rem;
  font-family: var(--ff); }

.container {
  max-width: calc(1170rem + 40rem);
  padding: 20rem;
  margin-inline: auto; }

*::-webkit-scrollbar {
  width: 10rem;
  height: 10rem;
  background-color: rgba(255, 255, 255, 0); }

* ::-webkit-scrollbar-thumb {
  border-radius: 5rem;
  background-color: #d1d1d1; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40rem 0 54rem 0; }
  .header__logo {
    color: var(--c-Paragraph);
    font: var(--Heading-4); }
  .header__search {
    position: relative;
    max-width: 278rem;
    width: 100%; }
    @media (max-width: 992px) {
      .header__search {
        display: none; } }
    .header__search .material-icons {
      position: absolute;
      right: 15rem;
      top: 50%;
      transform: translateY(-50%);
      color: var(--c-text-white); }
    .header__search input {
      width: 100%;
      border-radius: 50rem;
      background: var(--black);
      padding: 14rem 18rem;
      padding-right: 30rem;
      outline: 0;
      border: 0;
      font: var(--Input);
      color: var(--c-text-white); }
      .header__search input::placeholder {
        color: var(--c-text-white); }
  .header__ul {
    display: flex;
    align-items: center;
    gap: 24rem; }
    @media (max-width: 992px) {
      .header__ul {
        position: fixed;
        width: 70%;
        z-index: 9;
        height: 100%;
        flex-direction: column;
        left: 0;
        top: 0;
        background: var(--c-primary);
        align-items: center;
        justify-content: center;
        transform: translateX(-120%);
        transition: var(--transition); } }
    .header__ul._active {
      transform: translateX(0); }
    .header__ul .icon-close {
      position: absolute;
      top: 40rem;
      right: 40rem;
      color: var(--c-text-white); }
  .header__a {
    color: var(--black);
    font: var(--Link);
    position: relative; }
    .header__a::before {
      content: '';
      display: block;
      width: 0;
      height: 1rem;
      border-radius: 50%;
      bottom: -3rem;
      position: absolute;
      background: var(--c-primary);
      left: 50%;
      transform: translateX(-50%);
      transition: var(--transition); }
    .header__a:hover::before, .header__a._active::before {
      width: calc(100% - 8rem); }
    .header__a:hover, .header__a._active {
      color: var(--c-primary); }
    @media (max-width: 992px) {
      .header__a {
        color: var(--c-text-white); } }

.icon-menu,
.icon-close {
  cursor: pointer;
  display: none; }
  @media (max-width: 992px) {
    .icon-menu,
    .icon-close {
      display: inline-block; } }

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 148rem;
  text-align: center; }
  .services__title-h2 {
    font: var(--Heading-2);
    max-width: 840rem;
    margin-bottom: 0; }
    @media (max-width: 576px) {
      .services__title-h2 {
        font-size: 32rem; } }
  .services__desc {
    font: var(--Paragraph);
    max-width: 840rem;
    margin-top: 32rem; }
  .services__cards-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30rem;
    margin-top: 80rem; }
    @media (max-width: 992px) {
      .services__cards-wrapper {
        flex-direction: column; } }
  .services__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 48rem 40rem;
    background: var(--c-terciary);
    cursor: pointer; }
    .services__card .link {
      color: inherit; }
    .services__card.center {
      background: var(--c-primary);
      color: #fff; }
      .services__card.center .link {
        color: #fff; }
    .services__card .card-title {
      margin-top: 24rem;
      font: var(--Heading-4); }
    .services__card .card-desc {
      margin-top: 16rem; }
    .services__card .link {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex: 0 0 auto;
      gap: 8rem;
      color: var(--c-primary);
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
      text-decoration-line: underline;
      margin-top: 16rem;
      position: relative; }
      .services__card .link.center {
        color: #fff; }

.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160rem; }
  .catalog__title {
    font: var(--Heading-2);
    text-align: center;
    max-width: 840rem; }
  .catalog__desc {
    font: var(--Paragraph);
    text-align: center;
    max-width: 840rem;
    margin-top: 24rem; }
  .catalog__card-wrapper {
    display: grid;
    gap: 32rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 80rem; }
  .catalog__card {
    background: var(--c-terciary);
    border-radius: 20rem;
    padding: 40rem; }
  .catalog__card-info {
    display: grid;
    grid-template-columns: 63ram 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "card-userpic card-name" "card-userpic card-position"; }

.join {
  margin-top: 129rem;
  margin-bottom: 131rem;
  padding: 80rem 20rem;
  border-radius: 10rem;
  background: #1C1B1F;
  display: grid;
  gap: 47rem; }
  .join__title {
    font: var(--Heading-3);
    color: var(--c-text-white);
    text-align: center; }
  .join__input {
    display: flex;
    align-items: center;
    max-width: 717rem;
    width: 100%;
    margin-inline: auto;
    border-radius: 50rem;
    background: #F9F1FE;
    padding-right: 14px; }
    .join__input button {
      border-radius: 22rem;
      background: #8842F0;
      padding: 11rem 25rem;
      font: var(--Button);
      color: var(--c-text-white);
      cursor: pointer;
      display: inline-block;
      border: 0;
      outline: 0; }
      .join__input button .material-icons {
        display: none; }
      @media (max-width: 576px) {
        .join__input button {
          padding: 0;
          flex-shrink: 0;
          border-radius: 50%;
          width: 50rem;
          height: 50rem; }
          .join__input button .text {
            display: none; }
          .join__input button .material-icons {
            display: inline-block; } }
    .join__input input {
      width: 100%;
      padding: 21rem 31rem;
      background: transparent;
      border: 0;
      outline: 0;
      color: #000;
      font: var(--Paragraph); }
      .join__input input::placeholder {
        color: #6C6C6C; }

.footer {
  background: #F9F1FE; }
  .footer__container {
    position: relative;
    padding: 106rem 20rem 81rem 20rem;
    display: grid;
    gap: 108rem;
    grid-template-columns: auto 1fr 1fr; }
    @media (max-width: 1200px) {
      .footer__container {
        grid-template-columns: 1fr 1fr;
        gap: 50rem; } }
    @media (max-width: 576px) {
      .footer__container {
        grid-template-columns: 1fr; } }
  .footer__brand {
    max-width: 431rem; }
  .footer__copy {
    position: absolute;
    bottom: 20rem;
    left: 50%;
    transform: translateX(-50%);
    color: #575757; }
  .footer__logo {
    color: var(--c-Paragraph);
    font: var(--Heading-4);
    margin-bottom: 26rem;
    display: inline-block; }
  .footer__desc {
    color: var(--c-Paragraph);
    font: var(--Paragraph); }

.footer-info:not(:last-child) {
  margin-bottom: 27rem; }
.footer-info__title {
  color: var(--c-Paragraph);
  font: var(--Button);
  margin-bottom: 9rem; }
.footer-info__value {
  color: var(--c-Paragraph);
  font: var(--Paragraph);
  display: inline-flex;
  gap: 16rem; }
  .footer-info__value a {
    color: var(--c-Paragraph); }

.footer-hours__title {
  color: var(--c-Paragraph);
  font: var(--Button);
  margin-bottom: 17rem; }
.footer-hours__value {
  color: var(--c-Paragraph);
  font: var(--Paragraph); }
  .footer-hours__value:not(:last-child) {
    margin-bottom: 15rem; }

/*# sourceMappingURL=style.css.map */
