.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 148rem;
    text-align: center;


    &__title-h2 {
        font: var(--Heading-2);
        max-width: 840rem;
        margin-bottom: 0;

        @include mobile {
            font-size: 32rem;
        }

    }

    &__desc {
        font: var(--Paragraph);
        max-width: 840rem;
        margin-top: 32rem;
    }

    &__cards-wrapper {
        display: flex;
        flex-direction: row;
        gap: 30rem;
        margin-top: 80rem;

        @include tablet {
            flex-direction: column;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        padding: 48rem 40rem;
        background: var(--c-terciary);
        cursor: pointer;



        .link {
            color: inherit;
        }

       


        &.center {
            background: var(--c-primary);
            color: #fff;
            .link {
                color: #fff;
            }
        }

        

        .card-title {
            margin-top: 24rem;
            font: var(--Heading-4);
        }

        .card-desc {
            margin-top: 16rem;
        }

        .link {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex: 0 0 auto;
            gap: 8rem;
            color: var(--c-primary);
            font-size: 16px;
            font-weight: 600;
            line-height: normal;
            text-decoration-line: underline;
            margin-top: 16rem;
            position: relative;

            &.center {
                color: #fff;
            }


          
        }
    }



}